.input-mensaje {
    display: flex;
    gap: 0.5rem;
  }
  
  .input-mensaje input {
    flex: 1;
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
  }
  
  .input-mensaje button {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: #4f3a60;
    color: white;
    border: none;
    cursor: pointer;
  }
  