.form-side {
    flex: 1;
    margin-top: -70px;
    height: 160vh;
    padding: 250px 270px;
    background-color: #0a0a0a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h2 {
    text-align: center;
    color: #8a2be2;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .register-link {
    text-align: center;
    margin-top: 15px;
  }
  
  .register-link a {
    color: #8a2be2;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
    color: #5e2693;
  }
  