.container-fluid {
    display: flex;
    height: 10vh;
    align-items: center;
    margin-top: -200px;
  }
  
  .image-side {
    flex: 1;
    height: 100%;
    margin-top: -140px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .side {
    width: 750px;
    height: auto;
  }
  