/* Estructura general */
.dashboard-container {
    display: flex;
    flex-direction: row; 
    height: 100vh;
    width: 100vw;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #0a0a0a;
    color: #e0e0e0;
    padding: 20px;
    height: 100vh; 
}

/* Contenido principal */
.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    background-image: #4f3a60;
    padding: 20px;
    overflow-y: auto;
    position: relative;
}

/* Header */
.header {
    background-color: #0a0a0a;
    width: 84%; 
    position: fixed;
    top: 0; 
    left: 220px;
    right: 0; 
    z-index: 10; 
    padding: 15px; 
    border-bottom: 1px solid #4f3a60;
    margin-right: 20px;
}

.group-hader {
    display: flex;
    justify-content: space-around;
    list-style-type: none; 
    padding: 0; 
  }
  
  .group-item-hader {
    margin: 0 10px;
    cursor: pointer; 
    color: whitesmoke;

  }

/* Foto de perfil */
.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #4f3a60;
}
.profile-pic-editable {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    align-items: center;
    object-fit: cover;
    border: 2px solid #4f3a60;
}

/* Card */
.card {
    width: 900px;
    height: 700px;
    margin-bottom: 40px;
    margin-top: 70px;
    border: 3px solid #4f3a60;
    background-color: #0a0a0a;
}

.card-img-bottom {
    width: 827px;
    height: 450px;
    object-fit: cover;
    border: 2px solid #4f3a60;
}

/* Área de chat al fondo */
.chat-input {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 10px;
    background-color: #0a0a0a;
    position: fixed;
    bottom: 0;
    left: 250px; 
    width: calc(100% - 250px); 
    z-index: 10;
    padding: 10px;
}

/* Estilos para el input de mensaje */
.message-input {
    width: 75%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #0a0a0a;
}

/* Estilos para el botón de enviar */
.send-btn {
    width: 20%;
    padding: 10px;
    background-color: #8a2be2;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.send-btn:hover {
    background-color: #7027b5;
}
