.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 800px solid #0F032B;


  }
  .card-body{
    background-color: #22193e  ;
    border-radius: 8px solid #0F032B;
  }
  
  .card-title {
    font-size: 1.5rem;
    color: whitesmoke;
  }
  
  .card-text {
    font-size: 1rem;
    color: whitesmoke;
  }

