body {
    background-color: #0a0a0a;
  }
  
  /* Contenedor principal con Flexbox */
  .container-fluid {
    display: flex;
    height: 100vh; /* Hacer que ocupe toda la altura de la ventana */
    align-items: center; /* Centra el contenido verticalmente */
  }
  
  /* Imagen en la mitad izquierda */
  .image-side {
    flex: 1; /* Toma la mitad del espacio */
    background-image: url('https://via.placeholder.com/500'); /* Imagen de ejemplo */
    background-size: cover;
    background-position: center;
    height: 100%; /* Asegura que la imagen ocupe toda la altura */
  }
  .side {
    width: 750px; /* Ajusta el tamaño según necesites */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  
  /* Contenedor del formulario alineado a la derecha */
  .form-side {
    flex: 1; /* Toma la otra mitad del espacio */
    padding: 180px;
    background-color: #0a0a0a;
  }
  .form-group {
    margin-bottom: 40px; /* Ajusta el valor para obtener el espacio deseado */
  }
  
  
  h2 {
    text-align: center;
    color: #8a2be2;
  }
  
  .form-title {
    text-align: center;
    color: #8a2be2; /* Título del formulario */
  }
  
  .form-group label {
    size: 24px;
    color: #8a2be2; /* Color de las etiquetas */
  }
  
  .form-control {
    border-radius: 5px;
    border: 1px solid #8a2be2; /* Borde de los campos */
  }
  
  .form-control:focus {
    border-color: #8a2be2; /* Color del borde al hacer foco en el campo */
    box-shadow: 0 0 0 0.2rem rgba(42, 28, 59, 0.25);
  }
  
  .btn-custom {
    background-color: #8a2be2; /* Color del botón */
    color: #8a2be2;
    border-radius: 5px;
  }
  
  .btn-custom:hover {
    background-color: #8a2be2; /* Color del botón al pasar el mouse */
  }
  .btn-primary {
    background-color: #8a2be2; /* Color de fondo verde */
    border: none;
    color: white; /* Color del texto */
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #571c8e; /* Color más oscuro al pasar el mouse */
  }

  a {
    color: #8a2be2; /* Azul */
    text-decoration: none; /* Quita el subrayado */
    font-weight: bold;
  }
  
  a:hover {
    color: #571c8e; /* Azul más oscuro cuando pasas el mouse */
  }
  